// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.carfield {
  display:none;
}


div.user_header{
  position: absolute;
  right: 10%;
  top : 7.5%;
  font-size: 150%;
}

div.menu_header{
  position: absolute;
  left: 10%;
  top : 7.5%;
  font-size: 150%;
  //word-spacing: 30px;
}

div.main{
  position: absolute;
  top : 15%;
  left: 10%
}
